/* Title */
.title {
    padding: 5px;
    color: #1d9bf0;
    background: linear-gradient(135deg, #c3ecf6, #f1f1f1);
    border-radius: 0px;
    margin: 50px 0;
  }

  .title img {
    width: 7%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
/* Home Content */

.home-content {
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    margin: 30px auto;
    font-family: "Segoe UI", sans-serif; 
    border: 1px solid #ddd; /* Borde del input-area */
    border-radius: 25px; /* Borde redondeado */
    padding: 20px; /* Espaciado interno */
    width: fit-content;
}

.home-content:hover, .home-content:focus {
  border-color: #1d9bf0; /* Cambio de color del borde al pasar el mouse o enfocar */
}

.profile-picture {
    flex: 0 0 auto;
    align-self: flex-start;
    margin-top: 15px;
}

  .profile-picture img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
  }

  .input-area {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    position: relative;
    width: 200%;
    max-width: 600px;
}

  textarea {
    flex: 1;
    height: fit-content;
    padding: 12px;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    resize: none;
    margin: 20px auto;
    margin-left: 15px;
    outline: none;
    font-family: "Segoe UI", sans-serif; 
    color: #66696c;
  }
  
  button {
    padding: 12px 20px;
    font-size: 18px;
    font-family: "Segoe UI", sans-serif; 
    border-radius: 25px;
    border: none;
    background-color: #1d9bf0;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.1s;
    margin-left: auto; /* Asegura espacio entre el textarea y el botón */
    outline: none;
}
  
  button:hover {
    background-color: #0e81ce;
    border: none;
  }

  .trends-section {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    max-width: 200px;
  }
  
  .trends-section h3 {
    margin-bottom: 10px;
  }
  
  .trend {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  
  /* Tab Group */

  .tab-group {
    background-color: white;
    padding: 10px;
    width: 100%;
    height: 100%;
  }

  .mat-tab-group {
    font-size: 18px; /* Aumenta el tamaño de la fuente */
    width: 100%; /* Ancho completo del tab-group */
    height: 100%; /* Altura completa del tab-group */
  }

  /* Personalización del mat-select */

.filter-content {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ajusta la altura según sea necesario */
  }
  
/* Estilos CSS personalizados para filtro */

.filter-container {
  width: 400px; /* Ancho del campo de formulario */
  font-size: 20px; /* Tamaño de fuente */
  font-family: "Segoe UI", sans-serif; 
  text-align: center; /* Centrar contenido */
  margin: auto;
  margin-top: 20px; /* Espaciado superior */
  margin-bottom: 20px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}

.filter-container label {
  display: block; /* Mostrar la etiqueta como bloque */
  margin-bottom: 10px; /* Espaciado inferior */
  font-size: 20px; /* Tamaño de fuente */
  font-family: "Segoe UI", sans-serif; 
  color: black; /* Color azul celeste */
}

.select-container {
  border: 2px solid #1d9bf0; /* Borde del contenedor celeste */
  border-radius: 10px; /* Borde redondeado */
  padding: 10px; /* Relleno interno */
  width: 100%;
  display: inline-block;
  position: relative;
}

.select-container .mat-select {
  width: 100%; /* Ancho completo del select */
  height: 40px; /* Altura del select */
  font-size: 18px; /* Tamaño de fuente */
  padding: 10px; /* Relleno interno */
  border: none; /* Quitar borde del select */
  outline: none; /* Quitar contorno al enfocar */
  background-color: #fff; /* Color de fondo */
  font-family: "Segoe UI", sans-serif;  /* Fuente del selector */
}

.select-container option {
  font-family: "Segoe UI", sans-serif; /* Fuente de las opciones */
  font-size: 18px; /* Tamaño de fuente */
  padding: 8px 16px; /* Relleno interno */
  border: 1px solid #1d9bf0; /* Borde de cada opción */
  border-radius: 5px; /* Borde redondeado de cada opción */
  margin-bottom: 5px; /* Espaciado inferior entre opciones */
  box-sizing: border-box; /* Asegura que el padding y border se incluyan en el ancho total */
}

.select-container option:hover {
  background-color: #1d9bf0; /* Color de fondo al pasar el mouse */
  cursor: pointer;
}
