<form>
    <div class="tweet-containter">
        <div class="profile-picture">
            <img src="assets/profile.jpg" alt="Foto de perfil">
        </div>
        <div class="tweet-body">
            <div class="tweet-header">
                <div class="username">
                    <span>&commat;user</span>
                    <span class="date">{{ tweet.time | date: 'medium' }} </span>
                </div>
            </div>
            <div class="content">{{ tweet.text }}</div>
            <div class="sent-image">
                <img [src]="tweet.image_url" alt="Sentiment Image">
            </div>
            <div class="tweet-footer">
              <span class="tweet-sentiment">{{getSentimentString(tweet.sentiment_id)}}</span>
            </div>
        </div>    
    </div>
</form>